server/env/
server/.env/
server/venv/
server/__pycache__/
server/app/__pycache__/
server/app/api/__pycache__/
client/node_modules/

server/logs/
server/__pycache__/
server/app/__pycache__/
server/app/api/__pycache__/
server/uploads/
server/app/logs/
server/google-credentials*.json
server/*service-account*.json
server/*adc*.json

client/.env.local
client/.env.production

__pycache__/
__pycache__/*
**/__pycache__/
*.pyc
.DS_Store
.env
*.exe
*.bat
Thumbs.db
desktop.ini

notes.txt

deploy.tar.gz

deployServer.sh

user_load.json
